<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ shop.name }}</title>
    {{ content_for_header }}
    {{ 'variables.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'utilities.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="site-body">
    <main class="page page-stack" role="main">
      {{ content_for_layout }}
    </main>
  </body>
</html>
